
/* 
* Aprašyti skirtingas formos elementų (input, select) rėmelio spalvas.
* Įvedimo laukelių pagal įvedimo laukelio tipą: text, email, password 
*/


/* 
* Aprašyti mygtukų Submit ir Reset fono spalvas 
*/


/*keičiamos 13-o input elemento savybės */


/*keičiamos priešpaskutinio input elemento savybės */


/* 
* Aprašyti įvedimo laukelių, dropdown sąrašo, mygtukų stilius taip, kad
* užvedus pelės žymeklį - pasikeistų fono spalva
*/
